<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ1yKKOZTvMVfIqlmIhaC9XhAOaSUt26A</string>
	<key>GCM_SENDER_ID</key>
	<string>573885901268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.hendrilmendes.calculadora</string>
	<key>PROJECT_ID</key>
	<string>calculadora-app-a7506</string>
	<key>STORAGE_BUCKET</key>
	<string>calculadora-app-a7506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573885901268:ios:35ef794c976aedf4864e41</string>
</dict>
</plist>